@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@media(max-width: 768px){
    header h1{
        font-size: 19pt;
        width: 45%;
        margin-top: 19px;
    }
    .main-menu nav{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.5), white);
        height: 100%;
        width: 60%;
        z-index: 99;
        flex-direction: column;
    }
    .main-menu nav ul li{
        padding-top: 25px;
        float: left;
        font-weight: bold;
    }
    .main-menu .social-ul li{
        width: 40%;
    }
    .main-menu #close{
        text-align: right;
        height: 12%;
        width: 100%;
        margin-top: 15px;
        padding-right: 35px;
        font-size: 2rem;
        transition: 1s ease;
    }
    #menu-icon{
        height: 1.8rem;
        float: right;
        margin: 19px;
    }
}

@media(min-width: 769px){
    .main-menu nav{
        width: 50%;
        display: inline-block;
        text-align: end; 
    }
    #menu-icon{
        display: none;
    }
    .main-menu h1{
        width: 20%;
        margin-top: 19px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 300vh;
}

header{
    width: 100%;
    position: fixed;
    transition: .9s ease;
    z-index: 99;
    background-image: linear-gradient(to bottom, purple, rgba(250,250,250,0));
}

.main-menu{
    margin: 0 auto;
    width: 95%;
    position: relative;
}

.main-menu h1{
    display: inline-block;
}

.logo{
    float: left;
    margin: 0 15px;
}

.logo img {
    height: 3.3rem;
    margin-top: 15px;
}

.main-menu nav ul li{
    display: inline-block;
    list-style: none;
}

.main-menu nav ul li button{
    text-decoration: none;
    background: none;
    border: none;
    color: black;
    display: flex;
    margin: 0 50px;
    cursor: pointer;
}

.redes-sociais{
    width: 20%;
    display: inline-block;
    text-align: center;
    line-height: 55px;
}

.redes-sociais ul li{
    list-style: none;
    display: inline-flex;
}

.redes-sociais ul li img{
    height: 1.6rem;
}
